<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from dmitryvolkov.me/demo/flixgo2.0/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Oct 2020 15:13:41 GMT -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap-reboot.min.css" integrity="sha512-stCMej6DXfErBwD8bQrJsG2dFPHNW9y8cmccQhW0o+GeSxKzjABmIVdwOzQ5Vlw4HYoEwrECGDRQs8xF0f9ssg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/kismovie.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="KisMovie.com" />
    <title><%-title%></title>
</head>

<body class="body">
    <!-- sections -->
    <%- include('./login-content.ejs'); %>
    <!-- end sections -->

    <!-- JS -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/admin.js"></script>
    <script> let currentYear = (new Date()).getFullYear(); $('#currentYear').text(currentYear)</script>
    <script>
        feather.replace();
        $('[data-toggle="tooltip"]').tooltip()
    </script>

</body>

</html>