<section id="section-video">
  <div class="container">
    <div class="row">
      <span style="padding-top: 100px"> quảng cáo </span>
      <div class="container_iframe">
        <iframe
          class="responsive-iframe"
          frameborder="0"
          scrolling="no"
          src="<%-movie.resources%>"
          allowfullscreen
          title="<%-movie.title%>"
        ></iframe>
      </div>

      <div class="col-12">
        <h3 class="home__title mb-2"><%-movie.title%></h3>
      </div>
    </div>
  </div>
</section>
