<div class="row">
    <div class="container__banner">
        <% hotMovies.slice(1,2).map(function(mv){ %>
            <div class="featured-content" style="
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
          url('<%=mv.movieThumb.full%>');
        background-size: cover;
        background-position: center center;
      ">
                <div class="banner__contents">
                    <div class="banner__showsdetail">
                        <h1 className="banner__title">
                            <%-mv.title%>
                        </h1>

                        <p class="banner__description">
                            <%-mv.description%>
                        </p>

                        <button class="featured-button">
            <a href="/phim/<%= mv.slug %>"> WATCH </a>
          </button>
                    </div>
                </div>
            </div>

            <% }); %>
    </div>
</div>