<!-- Phim hot -->
<!-- data-bg="img/section/section.jpg" -->

<div class="row">
    <div class="name__img">
        <div class="col-12">
            <h2 class="home__title mb-2">New Release</h2>
        </div>
    </div>
    <!-- end section title -->
    <div class="display__img">
        <% hotMovies.forEach(function(mv){ %>

            <a href="/phim/<%= mv.slug %>">
      <img src="<%=mv.movieThumb.full%>" alt="" class="img-poster" />
    </a>
            <% }); %>
    </div>
    <!-- section btn -->
</div>

<!-- end phim hot -->