<!-- Phim hot -->
<!-- data-bg="img/section/section.jpg" -->
<div class="row">

    <!-- end section title -->

    <div class="display__img">
        <% menu.genres.slice(0,1).map(g => { %>
      <img src="<%=g.img%>" alt="" class="img-poster" />
      <% }) %>
    </div>

    <!-- section btn -->
</div>

<!-- end phim hot -->