<!-- Phim hot -->
<!-- data-bg="img/section/section.jpg" -->
<section>
  <div class="row">
    <!-- section title -->
    <div class="col-12">
      <h2 class="home__title mb-2">New Release</h2>
    </div>
    <!-- end section title -->
    <div class="display__img">
    <% hotMovies.forEach(function(mv){ %>

    <img src="<%=mv.movieThumb.full%>" alt="" class="img-poster"/>

    <% }); %>
</div>
    <!-- section btn -->
  </div>
</section>
<!-- end phim hot -->
