<%- include('./partials/header-serie.ejs') %> <%- include('./partials/menu.ejs')
        %>
<div class="wrap-player">
    <div class="col-12">
        <!-- sections -->
        <%- include('./sections/serie-detail/video.ejs'); %>
        <!-- end sections -->
    </div>
</div>

<%- include('./partials/footer.ejs'); %>