<main class="main" id="app-clone">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Clone Phim</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form action="#" class="form">
                    <div class="row">
                        <div class="col-12 col-md-7 form__content">
                            <div class="row">

                                <div class="col-12 col-sm-4 col-lg-3">
                                    <select class="js-example-basic-single" id="cloneFrom">
                                        <option value=""></option>
                                        <option value="Phim4400">Phim4400</option>
                                        <option value="FulFim">FulFim</option>
                                        <option value="topphim">TopPhim</option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <input type="text" class="form__input" placeholder="Link Clone" v-model="linkClone">
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-12">
                        <div class="row">

                            <div class="col-12">
                                <button type="button" class="form__btn" @click="onClone">Start Clone</button>
                            </div>
                        </div>
                    </div>


            </div>
            </form>

            <!-- <div class="col-12">

                <form action="/insert" method="POST">
                    <div class="input">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title">
                    </div>
                    <div class="input">
                        <label for="slug">slug</label>
                        <input type="text" id="slug" name="slug">
                    </div>
                    <button type="submit">insert</button>
                </form>
            </div> -->
        </div>
        <!-- end form -->
    </div>
    </div>
    <div id="loading" :class="{active : loading}">
        <div class="content-loading">
            <img src="/img/loading.svg" alt="loading">
            <p class="text-white text-uppercase">{{contentLoading}}</p>
        </div>
    </div>
</main>