<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from dmitryvolkov.me/demo/flixgo2.0/main/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Oct 2020 15:13:41 GMT -->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/css/select2.min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/admin.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<!-- Favicons -->
	<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
	<title>Kimovies For Admin Login</title>
	<meta name="description" content="Kismovie" />
	<meta name="keywords" content="Kismovie" />
	<meta name="author" content="KisMovie" />
	<title><%-title%></title>
</head>

<body class="body">
<!-- header -->
<header class="header">
    <div class="header__content">
        <!-- header logo -->
        <a href="index.html" class="header__logo">
            <img src="/img/logo.png" alt="">
        </a>
        <!-- end header logo -->

        <!-- header menu btn -->
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- end header menu btn -->
    </div>
</header>
<!-- end header -->

<%- include('./left-sidebar.ejs') %> 